<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management -
Add a new Descriptor</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
 
</head>
<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end
#sfielderror()
<a href="../descriptor/filter.action">[ Search Descriptor ]</a><br><br>


<form method="post" action="add.action">
  <table bgcolor="#98COF4" border="0" cellpadding="5" cellspacing="1" width="98%">
    <tbody>
      <tr bgcolor="#d0dcff">
        <td colspan="3"><b>Create Descriptor</b></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	<font color="red">*</font>
        	Name
        	</td>
        <td width="75%"><input maxlength="128" name="name" size="25" value="$!name"></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top"><font color="red">* </font>Action :</td>
        <td> 
        	<select name="actionName">
        		<option value="form">form</option>
        		<option value="filter">filter</option>
        		<option value="list">list</option>
        		<option value="view">view</option>
        	</select>
      </tr>
      <tr bgcolor="#e4e4e4">
        <td colspan="3"><input name="Submit" value="Save" type="submit">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
   </tbody>
</table>
</form>
</body>
</html>
