<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Delete Role Confirmation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <link rel="stylesheet" type="text/css" href="../../style.css">
  <script type="text/javascript" src="dtree.js"></script>

</head>
<body>

<div class=errorMessage>
This action cannot be undone.
<p>File <b>$!fileXml</b> is exist, please delete existing file or select another directory</p>
<input type="button" value="Cancel" OnClick="javascript:location.href='view_privilage.action?id=$!id';">
</div>
</body>
</html>
