<html lang="en" target="_parent">
<head>
  <title>BOFramework Project</title>
    <link rel="stylesheet" type="text/css" href="#surl("value=/backend/resources/collapser.css")"></link>
	<link rel="stylesheet" type="text/css" href="#surl("value=/backend/resources/docs.css")"></link>
	<link rel="stylesheet" type="text/css" href="#surl("value=/style.css")"></link>
</head>
<body scroll="no" id="docs">

    <div id="loading-mask" style="width:100%;height:100%;background:#c3daf9;position:absolute;z-index:20000;left:0;top:0;">&#160;</div>
  <div id="loading">
    <div class="loading-indicator"><img src="#surl("value=/backend/resources/loading.gif")" style="width:16px;height:16px;" align="absmiddle">&#160;Loading...</div>
  </div>
  
    <!-- include everything after the loading indicator -->
    
   <script type="text/javascript" src="#surl("value=/backend/ext/ext-base.js")"></script>
    <script type="text/javascript" src="#surl("value=/backend/ext/ext-all.js")"></script>
    <link rel="stylesheet" type="text/css" href="#surl("value=/backend/ext/ext-all.css")" />

    <script type="text/javascript" src="#surl("value=/backend/resources/docs.js")"></script>
	
  <div id="header">
	<div style="padding-top:0px;"><table width="100%"><tr width="100%">
	<td><a href="#surl("value=/backend/user/index.action")" target="_parent" ><img src="#surl("value=$!logo")"></a></td>
	<td align="right">
		<font color="#ffffff"><strong>$!currentUser.name.first &nbsp;$!currentUser.name.last</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#surl("value=/user/password/edit.action")" target="main" ><font size="1" color="white" title="Change Password"><img src="#surl("value=/images/silk/key_add.png")" border="0"></font></a>&nbsp;<font color="white"></font>&nbsp;
		<a href="#surl("value=/backend/user/logout.action")" target="_parent" ><font size="1" color="white" title="Sign Out"><img src="#surl("value=/images/silk/delete.png")" border="0"></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
	</div>
  <div id="classes" class="ylayout-inactive-content">
	  <!-- BEGIN TREE -->
      	<a id="welcome-link" href="welcome.html" target="main">Home</a>
		<!--start  -->
		$tree_script
		<!--finish-->
		
	  <a id="help-forums">Help</a> 
   	  <!-- END TREE -->
  </div>
  
  <iframe id="frame" name="main" frameborder="no" src="welcome.html"></iframe>
  </body>
</html>


