<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--init Cache-->
    <bean id="cacheManager" class="com.ecm.cache.CacheBeanPostProcessor" />


    <bean id="userService" class="com.ecm.service.impl.DfUserServiceImpl">
    </bean>

	<bean id="userAccessor" class="com.ecm.security.session.DefaultUserAccessor"
		singleton="false">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>

	<bean id="sessionCredentials" class="com.ecm.security.session.HttpSessionCredentials"
		singleton="false">
		<property name="userAccessor">
			<ref bean="userAccessor" />
		</property>
	</bean>

    <!--验证码-->
    <!--label: Gihow Documentum，domain: documentum.ecm.com-->
    <!--Site key: 6Ld-mSATAAAAAAZ25LlT1SpQn2robN4qbjQ-F10z-->
    <!--Secret key: 6Ld-mSATAAAAALxazYhyAYDzbP8Hxc0Y4Oo6TDI2-->

	<bean id="reCaptcha" class="net.tanesha.recaptcha.ReCaptchaImpl">
		<property name="privateKey" value="6LdtbAQAAAAAAKbQsKFqarVaqdrtHLykI2UjgyOx" />
		<property name="publicKey" value="6LdtbAQAAAAAAH7YjLqYawtCgsLzncxb0gP50Het" />
		<property name="recaptchaServer" value="http://api.recaptcha.net" />
		<!-- For SSL use: <property name="recaptchaServer" value="https://api-secure.recaptcha.net"/> -->
		<property name="includeNoscript" value="false" />
	</bean>


</beans>
