<html>
<head>
<title>list - Thread Number</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="../../style.css">

</head>
<body>
<h3>Thread Number List</h3>
#if ($moduleFunctions.isEmpty()) No Module Functions  available yet
#else

<table width=100% border="0">
#foreach ($moduleFunction in $moduleFunctions)
<tr>
	<td width=60%>$moduleFunction.name</td>	
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('moduleFunctionId').value='$moduleFunction.id';window.opener.document.getElementById('moduleFunctionName').value='$moduleFunction.name';window.close();" value="Set"></td>
</tr>
#end
</table>
#end
</body>
</html>
