<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--
	<bean id="sessionFactory"
		class="org.bo.persistence.hibernate.DefaultHibernateSessionFactory"
		init-method="init" destroy-method="destroy" singleton="true">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="persistenceManager"
		class="org.bo.persistence.hibernate.HibernatePersistenceManager"
		init-method="init" destroy-method="dispose" singleton="false">
		<property name="hibernateSessionFactory" ref="sessionFactory" />
	</bean>
    -->
    <bean id="persistenceManager"
          class="com.gihow.persistence.PersistenceManagerImpl">
    </bean>
	<!-- Use this UserAccessor implementation to use authentication from database -->
	<bean id="userAccessor" class="com.gihow.security.session.DefaultUserAccessor"
		singleton="false">
		<property name="persistenceManager">
			<ref bean="persistenceManager" />
		</property>
	</bean>
	<!-- Use this UserAccessor implementation to use authentication from ldap -->
<!-- <bean id="userAccessor" class="org.bo.security.ldap.LDAPUserAccessor" 
		singleton="false"> <property name="ldapTemplate"><ref bean="ldapTemplate"/></property> 
		<property name="persistenceManager"><ref bean="persistenceManager"/></property> 
		</bean> -->
	<bean id="sessionCredentials" class="com.gihow.security.session.HttpSessionCredentials"
		singleton="false">
		<property name="userAccessor">
			<ref bean="userAccessor" />
		</property>
	</bean>
	<bean id="reCaptcha" class="net.tanesha.recaptcha.ReCaptchaImpl">
		<property name="privateKey" value="6LdtbAQAAAAAAKbQsKFqarVaqdrtHLykI2UjgyOx" />
		<property name="publicKey" value="6LdtbAQAAAAAAH7YjLqYawtCgsLzncxb0gP50Het" />
		<property name="recaptchaServer" value="http://api.recaptcha.net" />
		<!-- For SSL use: <property name="recaptchaServer" value="https://api-secure.recaptcha.net"/> -->
		<property name="includeNoscript" value="false" />
	</bean>


</beans>
